@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

@import 'sass/utilities/variables';
@import 'sass/reset/reset';
@import 'sass/utilities/keyframes';
@import 'sass/utilities/mixins';

html {
     scroll-behavior: smooth;
}

body {
     height: 100vh;
     width: 100vw;
     overflow: hidden;
     background: $bg-color;
     padding: 32px;
}

.page-title {
     font-family: $ff-primary;
     color: $primary;
     text-align: center;

     h1 {
          font-size: 4rem;
          letter-spacing: 4px;

          span {
               font-size: 3rem;
               margin-bottom: 20px;
          }
     }

     h2{
          text-transform: uppercase;
     }
}

.canvas-container {
     display: block;
     margin: 5rem auto;
     position: relative;
     width: 60vw;
     height: calc(60vw / 16 * 9);
     width: fit-content;
     height: fit-content;
     
     canvas {
          border: 3px solid $primary;
     }

     h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: $ff-primary;
          color: $primary;
          font-size: 2rem;
          background-color: rgba(0, 0, 0, 0.301);
          display: block;
          height: 3rem;
          width: 100%;
          display: grid;
          align-items: center;
          justify-content: center;
          user-select: none;
          transition: opacity .1s ease-out;
     }

     .start {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 55px;
          height: 80px;
          background-color: green;
          display: none;
     }

     .end {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 55px;
          height: 80px;
          background-color: red;
          display: none;
          transform-origin: bottom right;
     }
}