@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

@import 'sass/utilities/variables';
@import 'sass/reset/reset';
@import 'sass/utilities/keyframes';
@import 'sass/utilities/mixins';

html {
     scroll-behavior: smooth;
}

body {
     height: 100vh;
     width: 100vw;
     overflow: hidden;
     background: $bg-color;
     padding: 32px;
}

.page-title {
     font-family: $ff-primary;
     color: $primary;
     text-align: center;

     h1 {
          font-size: 4rem;
          letter-spacing: 4px;

          span {
               font-size: 3rem;
               margin-bottom: 20px;
          }
     }

     h2{
          text-transform: uppercase;
     }
}

canvas {
     display: block;
     margin: 5rem auto;
     width: 60vw;
     height: calc(60vw / 16 * 9);
     border: 3px solid $primary;
}