// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$text-color: #fff;
$primary: #389F73;
$ff-primary: 'Courier Prime', monospace;
$ff-secondary: 'Roboto', sans-serif;
$bg-color: #091D14;